@{
    ViewBag.Title = "BankMaster";
    Layout = "~/Views/shared/_LoggedInLayout.cshtml";
}

@using AkraTechFramework.Helpers;
@model Infrastructure.Core.Models.Settings


@{string pageName = "BankMaster";}


<div class="alert alert-success" style="display: none" id="successAlert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <div id="successMessage"></div>
</div>
<div class="alert alert-danger" id="errorAlert" style="display: none">
    <button type="button" class="close" data-dismiss="alert">x</button>
    You have encountered an unexpected error.
</div>
<legend>   @LanguageHelper.GetLabelCaption("BankMaster.BankInfo", pageName)</legend>
<div id="bankTable"></div>
@Html.Partial("_addBank")
@Html.Partial("_editBank")

<script type="text/javascript">

    $(document).ready(UserTable);

    function UserTable() {
        $('#bankTable').jtable({
            title: '@LanguageHelper.GetLabelCaption("BankMaster.BankInfo", pageName)',
            actions: {
                listAction: '@Url.Action("GetBankMaster")'
            },
            fields: {
                BankID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                BankName: {
                    title: ' @LanguageHelper.GetLabelCaption("BankMaster.BankName", pageName)',
                    width: '15%'
                },
                Edit: {
                    display: function (data) {
                        return "<input type=\"button\" class=\"btn btn-success btn-small\" value=\"@LanguageHelper.GetLabelCaption("BankMaster.Edit", pageName)\" onclick=\"editBank(" + data.record.BankID + ")\" />";
                    },
                    width: '4%'
              @*  },
                Delete: {
                    display: function (data) {
                        return String.format("<a href='@Url.Action("/"){0}' class=\"btn btn-success btn-small\" >@LanguageHelper.GetLabelCaption("TenderAdd.Delete", pageName) </a>", data.record.CompanyID);
                    },
                    width: '4%'*@
                }
            },
            toolbar: {
                items: [{
                    icon: '../../Content/images/add.png',
                    text: '@LanguageHelper.GetLabelCaption("BankMaster.AddBank", pageName)',
                    click: addBank
                }]
            }


        });
        $('#bankTable').jtable('load');
        }

    function addBank() {
            clearForm();
            $('#modalAddBank').modal('show');
        }

        function editBank(bankID) {
            $.ajax({
                url: '@Url.Action("GetBankByID/")' + bankID,
                type: 'POST',
                success: onSuccessEditUser
            });
        }

        function onSuccessEditUser(result) {
            $('#edtBankID').val(result.BankID)
            $('#edtBankName').val(result.BankName)
          

            clearForm();
            $('#modalUpdateBank').modal('show');
        }

        function clearForm() {
            $('#UserName').val('')
           
        }



</script>

