﻿@model List<Infrastrucutre.Core.Models.Order>
@{
    Layout = "~/Views/shared/_LayoutWord.cshtml";
}

<link rel="stylesheet" href="/content/bootstrap.min.css">
<style>
    @@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

    body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Bree Serif', serif;
    }
    @@media print {
        footer {page-break-after: always;}
     
    }
</style>
@foreach (var order in Model)
{
    
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="text-left">
                <h3>
                   <img  src= "@Url.Content("/Content/Upload/" + AkraTechFramework.Helpers.SettingHelper.GetSetting().CompanyLogo)" alt="Image" style="height: 45px;width:45px" />
                   @order.SellerID         
                </h3>
            </div>
            <div class="text-center">
                <h2><small>SALES INVOICE</small></h2>
                <h2><small>Invoice #@order.OrderID</small></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Send To : <a href="#">@order.Name.ToUpper()</a></h4>
                </div>
                <div class="panel-body">
                    <p>
                        @order.Street1
                        @order.Street2
                        <br>
                        @order.StateOrProvince
                        <br>
                        @order.PostalCode
                        <br>
                        UK
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img  src= "@Url.Content("/Content/Upload/" + order.CarrierImage )" alt="Image" style="margin-left: -200px;margin-top: 10px"/>
        </div>
        @*<div class="span3 offset1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>From: <a href="#">Your Name</a></h4>
                </div>
                <div class="panel-body">                    
                    <p>
                        Address
                        <br>
                        details
                        <br>
                        more
                        <br>
                    </p>
                </div>
            </div>
        </div>*@
    </div>
    <!-- / end client details section -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4>Qty</h4>
                </th>
                <th>
                    <h4>Order No</h4>
                </th>
                <th>
                    <h4>Channel</h4>
                </th>
                <th>
                    <h4>Image</h4>
                </th>
                <th>
                    <h4>Original Listing</h4>
                </th>
                <th>
                    <h4>SKU</h4>
                </th>
                <th>
                    <h4>Date</h4>
                </th>
                <th>
                    <h4>Price</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                double total=0;
                double shippingCost =0;
                            
                foreach (var item in order.OrderItems )
                {
                    total += item.TransactionPrice + item.ShippingCost;
                    shippingCost += item.ShippingCost;
                    
                    <tr>
                        <td>@item.Quantity</td>
                        <td><a href="#">@order.SalesOrderNumber</a></td>
                        <td class="text-right">@item.ChannelName</td>
                        @if (item.ChannelName == "EBay")
                        {
                            <td class="text-right">@Html.Raw(String.Format("<img src='http://thumbs1.ebaystatic.com/pict/{0}.jpg' style='height: 45px;width:45px'/>",item.ItemID))</td>    
                        }
                        else
                        {
                            <td class="text-right">@Html.Raw(String.Format("<img src='{0}' style='height: 45px;width:45px'/>",item.ImageUrl))</td>        
                        }
                        
                        <td class="text-right">@item.ItemTitle  @item.AdditionalInfo </td>
                        <td class="text-right">@item.ItemID</td>
                        <td class="text-right">@string.Format("{0:dd/MM/yyyy}",order.OrderDate)</td>
                        <td class="text-right">@item.TransactionPrice</td>
                    </tr>              
                }
                
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-center" colspan="2">Shipping Cost</td>
                    <td class="text-right">@shippingCost</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-center" colspan="2">Total</td>
                    <td class="text-right">@total</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<footer>

</footer>
}