
@model Infrastrucutre.Core.Models.ItemMaster
@{
    ViewBag.Title = "Report By Item";
    Layout = "~/Views/shared/_LoggedInLayout.cshtml";
}

@using AkraTechFramework.Helpers


<div>
    <div class="row-fluid">
        <div class="span12 control-group">
            <h1 style="text-align:center;color: green;">Item Report</h1>
        </div>
    </div>
    <hr />
    <br />
    <div class="row-fluid">
        <div class="span6 control-group">
            <label class="control-label" for="ItemName">From Date</label>
            @Html.TextBox("txtStartDate", DateTime.Now.Subtract(new TimeSpan(4, 0, 0, 0, 0)).ToShortDateString(), new
                  {
                      @class = "span12 datepicker",
                      @readonly = "readonly",
                      @style = "cursor:pointer; background-color:white",
                      @placeholder = "From Date"
                  })

        </div>
        <div class="span6 control-group">
            <label class="control-label" for="ItemName">To Date</label>
            @Html.TextBox("txtEndDate", DateTime.Now.ToShortDateString(), new
                  {
                      @class = "span12 datepicker",
                      @readonly = "readonly",
                      @style = "cursor:pointer; background-color:white",
                      @placeholder = "To Date"
                  })

        </div>

    </div>
    <div class="row-fluid">

        <div id="dvData">

            <div class="span3 control-group">
                <label class="control-label"> Users List</label>
                <select class="control-label chosen" , Style="width:350px" data-val="true" id="UserID" name="UserID">

                    @foreach (var item in (ViewBag.UserID as System.Web.Mvc.SelectList).Items as List
                    <Infrastrucutre.Core.Models.UserInformation>
                        )
                    {
                        <option value="@item.UserID ">@item.UserName</option>
                    }
                </select>
                @*@Html.DropDownListFor(model => model.UserID, ViewBag.UserID as SelectList, "", new { @class = "control-label chosen", @Style = "width:350px" })*@

            </div>
            <div class="span3 control-group">
                <label class="control-label">Items</label>

                @if (ViewBag.ItemMasterID != null)
                {
                    @Html.DropDownListFor(model => model.ItemMasterID, ViewBag.ItemMasterID as SelectList, "--Select Item--", new { @class = "control-label chosen" })
                }

            </div>

            <div class="span3 control-group">
                <button type="submit" id="LoadRecordsButton" class="btn" style="margin-bottom: 10px;margin-left: 10px;" onclick="FindOrders()">Load Report</button>
                <button type="submit" id="btn_Export" class="btn" style="margin-bottom: 10px;margin-left: 10px;">Export To Excell</button>
            </div>

        </div>
    </div>
</div>
    
<div id="tblItem" style="width:auto"></div>
<br />

<div class="row-fluid" style="width:auto;height:40px;">
    <div class="span1" style="height: 40px; background-color: white;"></div>
    <div class="span4" style="width:35.5%;height:40px;background-color:yellow; margin-left:-0.5%"><h4 style="text-align:center">ARSUK</h4></div>
    <div class="span4" style="width: 35%; height: 40px; background-color: yellow; margin-left: 0.2% "><h4 style="text-align:center">NEEZ</h4></div>
    <div class="span2" style="height: 40px; background-color: white;"></div>
</div>

<div id="tblItems" style="width:auto"></div>
<div id="divLoading" style="display:none"></div>


    
<script>
    $(document).ready(pageLoad);

    $(document).ready(function ()
    {
        $("#ItemMasterID").empty();
        $("#UserID").change(function ()
        {
            $.get("/Order/GetUserItemListById", { UserID: $("#UserID").val() }, function (data) {
                $("#ItemMasterID").empty();
                $.each(data, function (index, row) {
                    $("#ItemMasterID").append("<option value='" + row.ItemMasterID + "'>" + row.ItemName + "</option>").trigger("chosen:updated");
                });
            })
        });
    });

    jQuery(document).ready(function () {
        jQuery(".chosen").data("placeholder", "Select ...").chosen();
    });

    function pageLoad() {
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "d M, y");

        loadItems();
        FindOrders();
    }

    function FindOrders() {
        $('#tblItem').jtable('load', { startDate: $('#txtStartDate').val(), endDate: $('#txtEndDate').val(), Asin: $('#ItemMasterID').val() });
        $('#tblItems').jtable('load', { startDate: $('#txtStartDate').val(), endDate: $('#txtEndDate').val(), Asin: $('#ItemMasterID').val() });
    }

    function loadItems()
    {
        $('#tblItems').jtable({
            title: 'Report By Item',
            useBootstrap: true,
            sorting: true,
            selectingCheckboxes: true,
            actions: {
                listAction: '@Url.Action("Get_ReportByItem")' + '?startDate=' + $('#txtStartDate').val() + '&endDate=' + $('#txtEndDate').val() + '&Asin=' + $('#ItemMastersID').val()  //Get SKU Report Procedure
            },
            recordsLoaded: function (event, data) {
                var recordsFound = String.format(" {0} Records - Report By Item {1} From {2} to {3}", data.records.length, $('#ItemMasterID :Selected').text(), $('#txtStartDate').val(), $('#txtEndDate').val(), $('#txtEndDate').val())
                $('#tblItems').find('.jtable-title-text').html(recordsFound);
            },
            fields:
            {
                OrderDate: {
                    title: 'OrderDate',
                    width: '0.05%',
                },
                UK_ARSUK: {
                    title: 'UK',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                DE_ARSUK: {
                    title: 'DE',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                FR_ARSUK: {
                    title: 'FR',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                IT_ARSUK: {
                    title: 'IT',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                ES_ARSUK: {
                    title: 'ES',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                NL_ARSUK: {
                    title: 'NL',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                SE_ARSUK: {
                    title: 'SE',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                PL_ARSUK: {
                    title: 'PL',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                TR_ARSUK: {
                    title: 'TR',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                USA_ARSUK: {
                    title: 'US',
                    width: '0.07%',
                    listClass: 'stockout'
                },//
                CA_ARSUK: {
                    title: 'CA',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                AU_ARSUK: {
                    title: 'AU',
                    width: '0.07%',
                    listClass: 'stockout'
                },
                TotalARSUK: {
                    title: 'TOTAL_ARSUK',
                    width: '0.07%',
                    listClass: 'stockout'
                },

                UK_NEEZ: {
                    title: 'UK',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                DE_NEEZ: {
                    title: 'DE',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                FR_NEEZ: {
                    title: 'FR',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                IT_NEEZ: {
                    title: 'IT',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                ES_NEEZ: {
                    title: 'ES',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                NL_NEEZ: {
                    title: 'NL',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                SE_NEEZ: {
                    title: 'SE',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                PL_NEEZ: {
                    title: 'PL',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                TR_NEEZ: {
                    title: 'TR',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                USA_NEEZ: {
                    title: 'US',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                CA_NEEZ: {
                    title: 'CA',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                AU_NEEZ: {
                    title: 'AU',
                    width: '0.07%',
                    listClass: 'stockin'
                },
                TotalNEEZ: {
                    title: 'TOTAL_NEEZ',
                    width: '0.07%',
                    listClass: 'stockin'
                },

                Smays_Sales: {
                    title: 'Smays_Sales',
                    width: '0.07%',
                    listClass: 'stocklevel'
                },
                Salsabil: {
                    title: 'Salsabil',
                    width: '0.07%',
                    listClass: 'stocklevel'
                },
                Cdis: {
                    title: 'Cdis',
                    width: '0.07%',
                    listClass: 'stocklevel'
                },
                Etsy: {
                    title: 'Etsy',
                    width: '0.07%',
                    listClass: 'stocklevel'
                },
                //Others: {
                //    title: 'Others',
                //    width: '0.07%',
                //    listClass: 'stocklevel'
                //},
                TotalSold: {
                    title: 'Sub_Total',
                    width: '0.07%',
                    listClass: 'stocklevel'
                }
            }

        });

        $('#tblItem').jtable({
            title: 'SUMMARY Total Count Quantity By Item',
            useBootstrap: true,
            sorting: true,
            selectingCheckboxes: true,
            actions: {
                listAction: '@Url.Action("Get_ReportItemSummary")' + '?startDate=' + $('#txtStartDate').val() + '&endDate=' + $('#txtEndDate').val() + '&Asin=' + $('#ItemMastersID').val()  //Get SKU Report Procedure
            },
            fields:
            {
                View: {
                    display: function (data) {
                        return String.format("<a  class='btn btn-success btn-mini' onclick='ToAsin()'>View</a>");
                    },
                    width: '0.03%'
                },
                ItemName: {
                    title: 'ITEM NAME',
                    width: '5%'
                },
                TotalAsin: {
                    title: 'TOTAL-ASIN',
                    width: '3.5%'
                },
                TotalSku: {
                    title: 'TOTAL-SKU',
                    width: '3.5%'
                },
                TotalSold: {
                    title: 'TOTAL-SOLD',
                    width: '3.5%'
                },

                UkWareHouse: {
                    title: 'UK-WH',
                    width: '3%'
                },
                UKFbaStock: {
                    title: 'UK-FBA-STOCK',
                    width: '4.5%'
                },

                EUWareHouse: {
                    title: 'EU-WH',
                    width: '3%'
                },
                EUFbaStock: {
                    title: 'EU-FBA-STOCK',
                    width: '4.5%'
                },

                USWareHouse: {
                    title: 'US-WH',
                    width: '3%'
                },
                USFbaStock: {
                    title: 'US-FBA-STOCK',
                    width: '4.5%'
                },

                CAWareHouse: {
                    title: 'CA-WH',
                    width: '3%'
                },
                CAFbaStock: {
                    title: 'CA-FBA-STOCK',
                    width: '4.5%'
                },

                AUWareHouse: {
                    title: 'AU-WH',
                    width: '3%'
                },
                AUFbaStock: {
                    title: 'AU-FBA-STOCK',
                    width: '4.5%'
                }

                //UKFbaStock: {
                //    title: 'UK-FBA',
                //    width: '4%'
                //},
                //EUFbaStock: {
                //    title: 'EU-FBA',
                //    width: '4%'
                //},
                //USFbaStock: {
                //    title: 'US-FBA',
                //    width: '4%'
                //},
                //CAFbaStock: {
                //    title: 'CA-FBA',
                //    width: '4%'
                //},
                //AUFbaStock: {
                //    title: 'AU-FBA',
                //    width: '4%'
                //},
                //UKWareHouse: {
                //    title: 'UK-WH',
                //    width: '4%'
                //},
                //EUWareHouse: {
                //    title: 'EU-WH',
                //    width: '4%'
                //},
                //USWareHouse: {
                //    title: 'US-WH',
                //    width: '4%'
                //},
                //AUWareHouse: {
                //    title: 'AU-WH',
                //    width: '4%'
                //},
                //CAWareHouse: {
                //    title: 'CA-WH',
                //    width: '4%'
                //}
            }
        });
    }

    function ToAsin() {
        window.open("@Url.Action("ItemReportToAsinReport/")" + '?startDate=' + $('#txtStartDate').val() + '&endDate=' + $('#txtEndDate').val() + '&ItemMasterID=' + $('#ItemMasterID').val());
    }
</script>



