@model Infrastructure.Core.Models.ChangePassword

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/shared/_LoggedInLayout.cshtml";
}

@using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post))
{
    <fieldset>
        <legend>Change Password</legend>
        <div class="row-fluid">
           
            <div class="span4 control-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(model => model.NewPassword, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.NewPassword)

            </div>
            <div class="span4 control-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "span12" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
     
         <div class="text-center widget-footer">            
            <button type="submit" class="btn btn-success" name="command" value="Save">Submit</button>   
        </div>
    </fieldset>
}

<div>
</div>

<script>
    $('.combobox').combobox();
    $('.combobox-container input').css("width", "97%");
    $('.add-on').hide()
</script>
