@{
    ViewBag.Title = "Create Listings";
    Layout = "~/Views/shared/_LoggedInLayout.cshtml";
}

@model List<Infrastrucutre.Core.Models.SellerItemLink>
<style>
    input.span2 {
        width: 100px;
    }
</style>

<div style="padding-left:10px">

<div class="row">
<input type="submit" name="name" value="Submit Listings" class="btn btn-success"  onclick="frmCreateListings.submit()"/>
<a class="btn btn-success" href="@Url.Action("Index", "Item")">Go Back</a>
</div>


<div style="overflow:auto;" class="row">

@using (Html.BeginForm("CreateListingLinkItems", "Item", FormMethod.Post, new { @id = "frmCreateListings" }))
{
<table class="table  table-bordered pull-left">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Code</th>  
            <th>Listing Channel</th>        
            <th>Listing ItemNo</th>     
            <th>Listing SKU</th>       
            <th>Listing Link</th>
        </tr>
    </thead>
    <tbody >
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <input type="hidden" name="ItemsInserted[@i].ItemMasterID" class="span2" value="@Model[i].ItemMasterID" />
                    <input type="text" name="ItemsInserted[@i].ItemName" readonly="readonly" class="span5" value="@Model[i].ItemName" />
                </td>
                 <td>
                    <input type="text" name="ItemsInserted[@i].ItemCode"  readonly="readonly" class="span2" value="@Model[i].ItemCode" />
                </td>
               <td>
                    <select class="span2" name="ItemsInserted[@i].SellerIndex">
                        <option value="">--Choose Listing Channel--</option>
                        @foreach (var seller in ViewBag.SellerList)
                        {
                            if (seller.id == Model[i].SellerIndex.ToString())
                            {
                            <option selected="selected" value="@seller.id ">@seller.label</option>
                            }
                            else
                            {
                                <option value="@seller.id">@seller.label</option>
                            }
                            
                            
                        }
                    </select>
                </td>
                <td>
                    <input type="text" name="ItemsInserted[@i].ListingItemNo" class="span3" value="@Model[i].ListingItemNo" />
                </td>                
                <td>
                    <input type="text" name="ItemsInserted[@i].SKU" class="span2" value="@Model[i].SKU" />
                </td>  
                <td>
                    <input type="text" name="ItemsInserted[@i].LinkUrl" class="span5" value="@Model[i].LinkUrl" />
                </td>
                              
            </tr>
        }        
    </tbody>
</table>
}

    </div>
</div>