@model Infrastrucutre.Core.Models.Models.CreateShipmentSummary
@{
    ViewBag.Title = "ViewCreateShipment";
    //Layout = "~/Views/shared/_LoggedInLayout.cshtml";
    Layout = "~/Views/shared/_ForecastingLayout.cshtml";
}

@using AkraTechFramework.Helpers

<div class="row-fluid">
    <div class="span12 control-group">
        <h2 style="text-align:center;color: green;">View Create Shipment</h2>
    </div>
</div>

<div id="tblCreateShipmentView"></div>

<br />
<hr />
<hr />
<br />

<div class="row-fluid" style="margin-left:2%;width:96.5%">
    <div class="span2 control-group" style="margin-top: -1.5%;">
        @Html.LabelFor(model => model.ShipmentOrderId, "Shipment OrderId", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ShipmentOrderId, "", new { id = "shipmentOrderId", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
</div>

<div class="row-fluid" style="margin-left:2%;width:97%">
    <div class="span2 control-group">
        @Html.LabelFor(model => model.WarehouseRoot, "Warehouse Root", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.WarehouseRoot, "", new { id = "warehouseRoot", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.ShipmentId, "Shipping Id", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ShipmentId, "", new { id = "shippingId", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.ShipmentTitle, "Shipment Title", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ShipmentTitle, "", new { id = "shipmentTitle", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.Currency, "Currency", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.Currency, "", new { id = "currency", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.TotalValue, "Total Value Goods", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.TotalValue, "", new { id = "totalValue", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.TotalCVM, "Shipment Volume", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.TotalCVM, "", new { id = "totalVolume", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
</div>

<div class="row-fluid" style="margin-left:2%;width:97%">
    <div class="span2 control-group">
        @Html.LabelFor(model => model.ShippingAgent, "Shipping Agent", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ShippingAgent, "", new { id = "shippingAgent", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.ClearingAgent, "Clearing Agent", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ClearingAgent, "", new { id = "clearingAgent", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.CaseWorker, "Case Worker", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.CaseWorker, "", new { id = "caseWorker", @class = "span12", @readonly = "readonly", @style = "width:101%" })

        @*@Html.Label("bookingAgent", "Booking Agent", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBox("bookingAgent", "", new { @class = "span12", @style = "width:100%" })*@
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.FreightCharges, "Freight Charges", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.FreightCharges, "", new { id = "freightCharges", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.PortOfLoading, "Port of Loading", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.PortOfLoading, "", new { id = "portOfLoading", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.PortOfArrival, "Port of Arrival", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.PortOfArrival, "", new { id = "portOfArrival", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
</div>

<div class="row-fluid" style="margin-left:2%;width:97%">
    <div class="span2 control-group">
        <label class="control-label">Final ETD</label>
        @Html.TextBoxFor(model => model.ETDDate, new
        {
            id = "etdDate",
            @class = "span12 datepicker",
            @readonly = "readonly",
            @style = "cursor:pointer; background-color:white",
            @placeholder = "Select Date"
        })
    </div>
    <div class="span2 control-group">
        <label class="control-label">Final ETA</label>
        @Html.TextBoxFor(model => model.ETADate, new
        {
            id = "etaDate",
            @class = "span12 datepicker",
            @readonly = "readonly",
            @style = "cursor:pointer; background-color:white",
            @placeholder = "Select Date"
        })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.ContainerSize, "Counter Size", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.ContainerSize, "", new { id = "counterSize", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.DepositAmount, "Deposit Amount", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.DepositAmount, "", new { id = "depositAmount", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.PaidDeposit, "Remaining Balance", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.PaidDeposit, "", new { id = "paidDeposit", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
    <div class="span2 control-group">
        @Html.LabelFor(model => model.Comment, "Comment", new { @class = "control-label", @style = "margin-top: 0%;" })
        @Html.TextBoxFor(model => model.Comment, "", new { id = "comment", @class = "span12", @readonly = "readonly", @style = "width:101%" })
    </div>
</div>

<script>

    $(document).ready(pageLoad);

    function pageLoad() {
        loadCreateShipment()

        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "d M, y");
    }

    const months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec'
    ]

    function loadCreateShipment() {

        var url = "@Url.Action("GetCreateShipmentListDataById", "Forecasting")?id=" + @ViewBag.Id;

        $.ajax({
            type: "GET",
            url: url,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.output == 'success') {
                    var gridDataSource = response.returnvalue;

                    var grid = $("#tblCreateShipmentView").data("kendoGrid");
                    var dataS = grid.dataSource;
                    var total = 0;
                    $.each(gridDataSource, function (idx, row) {
                        dataS.insert(total, row);
                    });
                }
            }
        });
    }

    $("#tblCreateShipmentView").kendoGrid({
        dataSource: {
            schema: {
                model: {
                    fields: {
                        Id: {
                            key: true,
                            list: false
                        },
                        //SupplierOrderId: {
                        //    title: 'SupplierOrder Id',
                        //    width: '4%'
                        //},
                        ShipmentOrderId: {
                            title: 'ShipmentOrder Id',
                            width: '4%'
                        },
                        SupplierName: {
                            title: 'Supplier Name',
                            width: '5%'
                        },
                        Currency: {
                            title: 'Currency',
                            width: '3%'
                        },
                        TotalValue: {
                            title: 'Total PI Value',
                            width: '5%'
                        },
                        DepositPercentage: {
                            title: 'Deposit Percentage',
                            width: '6%'
                        },
                        DepositAmount: {
                            title: 'Deposit Amount',
                            width: '5%'
                        },
                        DepositDateString: {
                            title: 'Deposit Date',
                            width: '4%'
                        },
                        RemainingBalance: {
                            title: 'Remaining Balance',
                            width: '6%'
                        },
                        LeadTime: {
                            title: 'LeadTime',
                            width: '3%'
                        },
                        ETDDateString: {
                            title: 'ETD Date',
                            width: '4%'
                        },
                        CutOffDateString: {
                            title: 'Cut Off Date',
                            width: '4%'
                        },
                        TotalCVM: {
                            title: 'Volume (CBM)',
                            width: '5%'
                        },
                        PortOfLoading: {
                            title: 'Port Of Loading',
                            width: '5%'
                        },
                        PortOfArrival: {
                            title: 'Port Of Arrival',
                            width: '5%'
                        },
                        WarehouseRoot: {
                            title: 'Warehouse Root',
                            width: '5%'
                        }
                    }
                }
            }
        },
        height: 300,
        scrollable: true,
        resizable: true,
        sortable: true,
        columns: [
            {
                field: "Id",
                title: "Id",
                hidden: true
            },
            {
                field: "ShipmentOrderId",
                title: "ShipmentOrder Id"
            },
            {
                field: "SupplierName",
                title: "Supplier Name"
            },
            {
                field: "Currency",
                title: "Currency"
            },
            {
                field: "TotalValue",
                title: "Total PI Value"
            },
            {
                field: "DepositPercentage",
                title: "Deposit Percentage"
            },
            {
                field: "DepositAmount",
                title: "Deposit Amount"
            },
            {
                field: "DepositDateString",
                title: "Deposit Date"
            },
            {
                field: 'RemainingBalance',
                title: 'Remaining Balance'
            },
            {
                field: "LeadTime",
                title: "LeadTime"
            },
            {
                field: "ETDDateString",
                title: "ETD Date"
            },
            {
                field: "CutOffDateString",
                title: "Cut Off Date"
            },
            {
                field: "TotalCVM",
                title: "Volume (CBM)"
            },
            {
                field: "PortOfLoading",
                title: "Port Of Loading"
            },
            {
                field: "PortOfArrival",
                title: "Port Of Arrival"
            },
            {
                field: "WarehouseRoot",
                title: "Warehouse Root"
            }
        ],

    }).data("kendoGrid");
</script>
